{% extends 'index.html' %}

{% block content %}
    <h2>About</h2>
    <p>This site was created for learning purposes.</p>
    <p>The main focus was to make an interactive interface to the <a href="https://github.com/DuduKling/stocks-sentiment-analysis" target="_blank" rel="noopener noreferrer">original idea</a> of this project.</p></p>

    <p>This site was made with Flask (Back-end), Bootstrap (Front-end) and hosted on Heroku.</p>
    <p>Different python libraries for the sentiment analysis was used throughout the development.</p>

    <p>The code and more info can be found at <a href="https://github.com/DuduKling/stocks-sentiment-analysis-web" target="_blank" rel="noopener noreferrer">Github</a>.</p>

{% endblock %}